<%- include("../includes/header.ejs") %>
    <%- include("../includes/navbar.ejs") %>
    
    <body>
        <%- include("../includes/script.ejs") %>
        <h1>Skapa produkter</h1>
        <form id="createproduct-form" action="/createproduct" method="POST">
            <input type="text" placeholder="Produktnamn" name="name">
            <div>
                <input type="number" placeholder="Produktpris" name="price">
                <input type="file" name="imageUrl">
            </div>
            <input type="text" placeholder="Produktbeskrivning" name="description">
            <button type="submit">Skapa</button>
        </form>
    <%- include("../includes/footer.ejs") %>
</body>
