@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

$primColor: #e7be50;

.cart-wrapper {
    .divider {
        border-bottom: 1px solid black;
        text-transform: uppercase;
    }

    .no-products-wrapper {
        text-transform: uppercase;

        a {
            font-weight: bold;
            color: $primColor;

            &:hover {
                text-decoration: none;
                filter: brightness(0.4);
            }
        }
    }

    .cart-product-wrapper {
        margin-right: 0 !important;

        .cart-product-info {
            font-size: 12px;
            text-transform: uppercase;

            @include tablet() {
                font-size: 14px;
            }
        }

        .cart-product-img-wrapper {
            max-height: 200px;
            overflow: hidden;

            .remove-btn {
                cursor: pointer;
                position: absolute;
                top: 3px;
                left: 1px;
                font-weight: bold;

                a {
                    color: rgb(156, 9, 9);
                }
            }

            img {
                height: auto;
                width: 90%;
            }
        }

        .col-3 {
            .inputs {
                display: inline !important;

                .button-minus {
                    color: $primColor;
                    background-color: #231f20;
                    width: fit-content;

                    &:active {
                        outline: none;
                    }
                }

                .quantity-field {
                    font-size: 12px;
                    color: $primColor;
                    background-color: #231f20;
                    border: none;
                    width: 10px;
                    height: 30px;

                    &[type=number]::-webkit-inner-spin-button,
                    &[type=number]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                    }

                    @include tablet() {
                        font-size: 14px;
                    }
                }

                .button-plus {
                    color: $primColor;
                    background-color: #231f20;
                    width: fit-content;
                }
            }
        }

        .cart-product-price {
            font-size: 12px;

            @include tablet() {
                font-size: 14px;
            }
        }
    }

    .row {
        .divider {
            width: 100%;
            border-bottom: 1px solid black;
        }

        .btn-wrapper {
            a {
                text-decoration: none;
            }

            .btn {
                background-color: transparent !important;
                border-radius: 0;
                border: 1px solid $primColor;
                color: $primColor;

                &:hover {
                    background-color: $primColor !important;
                    color: black;
                }
            }
        }
    }
}