footer {
    background-color: black;
    text-align: center;
    justify-content: space-between;
}

.row {
    width: 100%;
}

footer hr {
    border: solid 1px #e7be50;
    margin: 0;
}

.btn-social {
    border-radius: 30%;
    cursor: pointer;
    transition: all .5s;
}

.btn-outline {
    color: #fff;
    border-color: #e7be50;
    background-color: transparent;
}

.btn-outline:hover {
    color: red;
    background-color: #fff;
}

footer ul {
    padding: 16px 0;
    list-style: none;
    display: inline-block;
    background-color: transparent;
    font-size: 1.6em;
}

.map {
    color: #e7be50;

    &:hover {
        text-decoration: none;
        color: #e7be50;
        filter: brightness(0.4);
    }
}

.service {
    color: #e7be50;
}

.copyright {
    background-color: #231f20;
}