$colorOne: #231f20;
$colorTwo: #e7be50;
$colorThree: #e0d2b5;


#logo-container {
    width: 100%;
    padding-bottom: 15%;

    img {
        transform: translateX(-50%);
        top: 0;
        left: 50%;
        width: 15%;
        height: auto;
        position: absolute;
    }
}

ul {
    padding: 16px 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    ;
    background-color: black;
    margin: 0;

    li {
        text-align: center;

        a {
            color: $colorTwo;
            text-decoration: none;

        }

        font-size: 1.6em;
        color: $colorTwo;

        a:hover {
            color: #806a2f;
        }

        display: inline-block;
    }
}