@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin large-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 990px) {
        @content;
    }
}

body {
    .container {
        #resetform {
            background-color: #d3d3d3;
            width: 40%;
            margin: 5vh auto;
            border-radius: 5px;
            text-align: center;
            padding: 20px 0;

            input {
                display: block;
                width: 70%;
                margin: 20px auto;
                border-radius: 5px;
                height: 50px;
                font-size: 20pt;
                -webkit-appearance: none;
                border-width: 0px;
                border-style: solid;
                padding: 0 10px;

                &::placeholder {
                    font-size: 12px;

                    @include tablet() {
                        font-size: 14px;
                    }
                }
            }

            button {
                background-color: black;
                color: $primColor;

                &:hover {
                    background-color: $primColor !important;
                    color: black;
                }
            }
        }
    }

    .space-div {
        height: 40px;

        @include tablet() {
            height: 120px;
        }

        @include large-tablet() {
            height: 200px;
        }

        @include desktop() {
            height: 220px;
        }
    }
}