
$colorOne: #231f20;
$colorTwo: #e7be50;
$colorThree: #e0d2b5;

#signin-form {
    background-color:#d3d3d3;
    width: 40%;
    margin: 5vh auto;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0;
    
    h2 {
        margin: 20px 0;
        color: $colorOne;
    }
    input {
        display: block;
        width: 70%;
        margin: 20px auto;
        border-radius: 5px;
        height: 50px;
        font-size: 20pt;
        -webkit-appearance: none;    
        border-width: 0px;
        border-style: solid;
        padding: 0 10px;
    }
    button {
        width:70%;
        margin: 20px;
        -webkit-appearance: none;
        cursor: pointer;
        font-size: 20pt;
        border:none;
        border-radius: 5px;
        font-weight: bolder;
        color: $colorTwo;
        padding: 10px 0;
        background-color: $colorOne;
        transition: all 0.5s ease-in-out;
    }
    button:hover {
        background-color: $colorTwo;
        color:$colorOne;
    }
    div {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        a {
        font-size: 15pt;
        text-decoration: none;
        }
    }
}