body {
    background-color: rgb(35, 31, 32);
    .container {
        .products-container {
            .product-wrapper {
                height: 280px;
                .product-img-wrapper {
                    margin-left: auto;
                    margin-right: auto;
                    max-height: 200px;
                    width: 200px;
                    overflow: hidden;
                    img {
                        height: auto;
                        width: 200px;
                        vertical-align: top;
                        opacity: 1;
                        transition: opacity 0.6s ease-in-out;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
                .product-info {
                    text-align: center;
                    color: white;
                }
            }
        }
    }
}