@import '_navbar';
@import 'productpage';
@import 'specificproductpage';
@import 'footer';
@import 'error';
@import 'adminlogin';

@mixin small {
    @media (min-width:400px) {@content;}
}
@mixin medium {
    @media (min-width:600px) {@content;}
}

@mixin large {
    @media (min-width:1200px){@content;}
}


$colorOne: #231f20;
$colorTwo: #e7be50;
$colorThree: #e0d2b5;


body {
    margin: 0px;
    font-size: 8pt;
    @include medium {
        font-size: 10pt;
    }
    @include large {
        font-size: 12pt;
    
    }
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #231f20!important;
    #content-container {
        width: 100%;
        height: auto;

        #content-one {
            position: relative;
            height: 70vh;
            width: 100%;
            background-attachment: fixed;
            transition: opacity 0.5s ease-in-out;
            background-image: url('/img/vodou.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 0.3;

            h1 {
                margin: 0;
                padding: 0;
                text-align: center;
                color: #fff;
                text-shadow: 0px 0px 10px #000;
                font-size: 2rem;
                line-height: 70vh;
                @include medium { 
                    font-size: 3rem;

                }
                @include large {
                    font-size: 5rem;

                }
            }
        }

        #content-two {
            margin: 0;
            width: 100%;
            position: relative;
            background-color: $colorOne;
            background-image: linear-gradient(#231f20 50%, #e0d2b5 50%);
            height: 100vh;
            @include medium {
                height: 150vh;
            }
            @include large {
                height: 100vh;
                background-image: linear-gradient(90deg, #231f20 70%, #e0d2b5 70%);
            }

            h2 {
                color: $colorThree;
                margin: 0 0 auto 0 ;
                padding: 0.5rem 0;
                text-align: center;
                font-size: 3rem;
            }

            #tarot-cards {
                width: 100%;

                img {
                    position: absolute;
                    width: 25%;
                    left: 33%;
                    top:25%;
                    @include large {
                        width: 20%;
                        left: 20%;
                        top:50%;
                    }
                }

                #clickable-card {
                    cursor: pointer;
                    left: 33%;
                    @include large {
                        left: 20%;
                    }
                    transform: perspective(1000px) rotateY(-180deg) translate(50%, -50%);
                    transition: all 0.3s ease-in-out;
                }
                img:nth-child(1) {
                    transform: rotate(0deg) translate(-50%, -50%);
                }
            }

            #tarot-text-container {
                position: absolute;
                color: $colorOne;
                width: 100%;
                top:50vh;
                @include medium {
                    top:75vh;
                }
                @include large {
                    top:0;
                    width: 30%;
                }

                right: 0%;
                font-weight: normal;
                text-align: center;
                transition: all 0.3s ease-in-out;
                height: auto;
                font-family: 'Segoe UI',
                Tahoma,
                Geneva,
                Verdana,
                sans-serif;

                //background-color: $colorThree;
                #tarot-header {
                    opacity: 0;
                    transition: all 1s ease-in-out;
                    font-size: 3rem;
                    text-transform: uppercase;
                    border-bottom: $colorOne 3px solid;
                    padding: 0.5rem;
                    margin: 0;
                }

                #tarot-text {
                    opacity: 0;
                    transition: all 1s ease-in-out;
                    font-size: 1rem;
                    margin: 0.5rem;
                    @include small {
                        
                        font-size: 1.4rem;
                    }
                    @include medium {
                        font-size: 1.8rem;
                        margin: 1rem;
                    }
                    @include large {
                        margin: 2rem;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        #content-three {
            background-color: black;
            height: 300vh;
            position: relative;
            overflow: hidden;

            img {
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                position: relative;
                opacity: 1;
                height: 0;
            }

            h2 {
                color: #fff;
                margin: auto 0;
                opacity: 1;
                position: absolute;
                bottom: 0;left: 2%;
                font-size: 8rem;
                @include medium {
                    font-size: 11rem;
                }
                @include large {
                    font-size: 16rem;
                }
            }
        }

        #content-four {
            height: 100vh;
            background-color: $colorThree;
            background-image: linear-gradient(90deg, $colorThree 50%, $colorOne 50%);
            display: flex;
            justify-content: space-around;

            div {
                width: 50%;
                position: relative;

                #voodoo-doll {
                    position: absolute;
                    width: 30vw;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                    filter: brightness(0.8) grayscale(0.5);
                    cursor: pointer;
                }
                .needle {
                    height: 10%;
                    position: absolute;
                    top:50%;left: 50%;
                    transform: translate(0,-100%);
                    z-index: 2;
                }
            }

            div {
                width: 50%;
                text-align: center;
                color: $colorThree;

                h2 {
                    font-size: 1rem;
                    margin: 1rem;
                    @include medium {
                        font-size: 2rem;
                    }
                    @include large {
                        font-size: 4rem;
                    }
                }

                p {
                    margin: 0;
                    padding:0 1rem;
                    font-size: 0.8rem;
                    @include large {
                        font-size: 1.1rem;
                    }
                    @include large {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    #splash-voodoo {
        transform: translate(-50%, -50%);
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        animation-name: voodoofade;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
    }
}

@keyframes voodoofade {
   
    0% {opacity: 0;}
    50% {opacity: 0.8;}
    100% {opacity: 0;}
}

// Adam testar styling

@keyframes move-background {
from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

    @-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.stars {
background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
        z-index: 0;
}
   
.twinkling{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;    
}

.background-container {
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}

.clouds {
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
}

#imgRight {
    height: 70vh;
    width: 70vh;
    position: absolute;
    z-index: 40;
    right: 20px;
    // top: 20;
    bottom: 160;
}

.aboutText {
    z-index: 60;
    position: absolute;
    size: 500px;
    font-size: x-large;
    color: rgb(119, 0, 255);
    // position: fixed;
    right: 300px;
    bottom: 500px;
    height: 100%;
    width: 100%;
}

.thankYouText {
    z-index: 60;
    position: absolute;
    size: 500px;
    font-size: x-large;
    color: rgb(0, 0, 0);
    // position: fixed;
    // right: 300px;
    bottom: 500px;
    height: 100%;
    width: 100%;
}

.img-body {
    background-color: #ff0101 !important;

  }
  
  @-webkit-keyframes backgroundAnimate {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: -100px;
      top: -20000px;
    }
  }
  
  @-moz-keyframes backgroundAnimate {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: -100px;
      top: -20000px;
    }
  }
  
  @-o-keyframes backgroundAnimate {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: -100px;
      top: -20000px;
    }
  }
  
  @keyframes backgroundAnimate {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: -100px;
      top: -20000px;
    }
  }
  
  #back {
    background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 500s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  #front {
    background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 300s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 300s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 300s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  #skull{
      opacity: 0.1;
    //   justify-content: center;
    //   align-items: center;
    //   align-content: center;
    height: 95%;
    width: 95%;
  }
  #smallskull{
    opacity: 0.7;
    height: 95%;
    width: 95%;
}
  #img-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    background: #444;
}
  .container{
      width: 1000px;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .container .card {
      position: relative;
  }

  .container .card .face {
      width: 300px;
      height: 200px;
      transition: 0.4s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    transform: translateY(100px); 
}

.container .card:hover .face.face1{
    box-shadow: 
    inset 0 0 60px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 0.2;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i {
    font-size: 3em;
    color: #fff;
    display: inline-block;
}

.container .card .face.face1 .content h3 {
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.container .card .face.face1 .content a {
transition: 0.5s;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0px);
}

.container .card .face.face2 .content p, a {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
}

.container .card .face.face2 .content a {
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    padding: 10px 24px;
    margin: 15px 0 0;
    display: inline-block;
    background: #444;
}
.glow {
    font-size: 30px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    z-index: -160;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }