<footer id="footer">
    <hr>
    <div class="container">
        <div class="row py-4">

            <div class=" col-md-4 col-sm-6 col-xs-12 ">
                <a href="https://www.google.com/maps/place/Tulegatan+41,+113+53+Stockholm/@59.3460811,18.0558396,17z/data=!4m5!3m4!1s0x465f9d6c1f42b387:0xdfa8086ea7907082!8m2!3d59.3460811!4d18.0580283"
                    target="_blank" class="map"> <i class="fas fa-map-marked-alt"></i> Adress
                    <address>
                        Drottningsgatan 44 <br> Stockholm / Sweden
                    </address>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <ul class="d-flex justify-content-around mt-3">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <button class="btn btn-outline btn-social">
                                <i class="fab fa-fw fa-facebook-f"></i>
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/discover" target="_blank">
                            <button class="btn btn-outline btn-social">
                                <i class="fab fa-fw fa-google-plus-g"></i>
                            </button>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/" target="_blank">
                            <button class="btn btn-outline btn-social">
                                <i class="fab fa-fw fa-twitter"></i>
                            </button>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <button class="btn btn-outline btn-social">
                                <i class="fab fa-fw fa-linkedin-in"></i>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
            <div class=" service col-md-4 col-sm-6 col-xs-12 ">
                <p> <i class="fas fa-shipping-fast"></i> Snabb Leverans
                    <br> <i class="far fa-smile"></i> Personlig Service
                    <br><i class="fas fa-cubes"></i> Stort Lager </p>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="py-3 text-white text-center">
            <small>
                Copyright &copy; 2020 Mystiska Saker
            </small>
        </div>
    </div>

</footer>