<div id="logo-container">
    <img class="logo" src="/img/LOGO_EYE.png" alt="hih">
    <img class="logo" id="logo-pupil" src="/img/LOGO_PUPIL.png" alt="hih">
    <img class="logo" id="logo-bg" src="/img/LOGO_BG.png" alt="hih">
    <img class="logo" id="logo-highlight" src="/img/LOGO_HIGHLIGHT.png" alt="hih">

</div>

<ul id="main-navbar">
    <div class="menu-wrapper">
    <li class="pl-5"><a href="/">Hem</a></li>
    <li class="pl-5"><a href="/products">Produkter</a></li>
    </div>
    <div class="nav-icons-wrapper d-flex justify-content-end">
        <li class="pr-5"><a href="/aboutus">About Us</a></li>
        <li class="nav-item dropdown pr-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/signin">Sign in</a>
                <a class="dropdown-item" href="/createuser">Sign up</a>
            </div>
        </li>
        <li><a><i class="fas fa-skull"></i></a></li>
        <li><a href="/cart"><i class="fas fa-shopping-cart pr-5"></i></a></li>
    </div>
</ul>