<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body>
    <div id="logo-container">
        <img src="/img/LOGO_EYE.png" alt="hih">
        <img id="logo-pupil" src="/img/LOGO_PUPIL.png" alt="hih">
        <img id="logo-bg" src="/img/LOGO_BG.png" alt="hih">
        <img id="logo-highlight" src="/img/LOGO_HIGHLIGHT.png" alt="hih">

    </div>

    <ul>
        <li><a href="/">Hem</a></li>
        <li><a href="/products">Produkter</a></li>
        <li><a href="/createuser">Gå med</a></li>
        <li>
            <form action="/user" method="POST">
                <input type="text" placeholder="användarnamn"> <input type="password" placeholder="lösenord"> <button
                    type="submit">Logga in</button>
            </form>
        </li>
    </ul>
</body>

</html>