<!DOCTYPE html>
<html lang="en">

<head>
    
 
</head>

<body>
    <div id="logo-container">
        <img src="/img/LOGO_EYE.png" alt="hih">
        <img id="logo-pupil" src="/img/LOGO_PUPIL.png" alt="hih">
        <img id="logo-bg" src="/img/LOGO_BG.png" alt="hih">
        <img id="logo-highlight" src="/img/LOGO_HIGHLIGHT.png" alt="hih">

    </div>

    <ul>
        <li>Hem</li>
        <li>Produkter</li>
        <li>Kontakta oss</li>
        <li>Om oss</li>
    </ul>
</body>

</html>