<div id="logo-container">
    <img class="logo" src="/img/LOGO_EYE.png" alt="hih">
    <img class="logo" id="logo-pupil" src="/img/LOGO_PUPIL.png" alt="hih">
    <img class="logo" id="logo-bg" src="/img/LOGO_BG.png" alt="hih">
    <img class="logo" id="logo-highlight" src="/img/LOGO_HIGHLIGHT.png" alt="hih">

</div>

<ul id="main-navbar">
    <li><a href="/">Hem</a></li>
    <li><a href="/products">Produkter</a></li>
    <!-- <li id="joinus"><a href="/signup">Skapa konto</a>/<a href="/signin">Logga in</a></li> -->
    <li><a href="/createuser">Skapa konto</a></li>
    <li><a href="/signin">Logga in</a></li>

</ul>