<div id="logo-container">
    <img class="logo" src="/img/LOGO_EYE.png" alt="hih">
    <img class="logo" id="logo-pupil" src="/img/LOGO_PUPIL.png" alt="hih">
    <img class="logo" id="logo-bg" src="/img/LOGO_BG.png" alt="hih">
    <img class="logo" id="logo-highlight" src="/img/LOGO_HIGHLIGHT.png" alt="hih">

</div>

<ul id="main-navbar">
    <div class="menu-wrapper">
        <li class="pl-3 pl-md-4"><a href="/">Hem</a></li>
        <li class="pl-3 pl-md-5"><a href="/products">Produkter</a></li>
    </div>
    <div class="nav-icons-wrapper d-flex justify-content-end">
        <li class="pr-3 pr-md-5"><a href="/aboutus">Om oss</a></li>
        <li class="nav-item dropdown pr-3 pr-md-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/signin">Logga in</a>
                <a class="dropdown-item" href="/createuser">Registrera</a>
            </div>
        </li>
        <li><a><i class="fas fa-skull pr-3 pr-md-4"></i></a></li>
        <li class="cart-icon-wrapper">
            <a href="/cart"><i class="fas fa-shopping-cart pr-3 pr-md-5"></i></a>
            <span class="badge-icon">0</span>
        </li>
    </div>
</ul>