<%- include("../includes/header.ejs") %>
<%- include("../includes/script.ejs") %>
<%- include("../includes/navbar.ejs")%>


<body>

    <div id=content-container>
        <div class="background-container">
            <img id="imgMoon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
            <div class="stars"></div>
            <div class="twinkling"></div>
            <div class="clouds">

            </div>



        </div>
        <div id="content-five">
            <div class="rowtext-center">
                <h1 class="glow">Om Mystiska Saker: <br> Utan att avslöja för mycket om våra dunkla rutaler och
                    besynnerliga
                    och uråldriga arbetsmetoder så arbetar vi ifrån en avlägsen plats bortom tid och rum och genom denna
                    portal du nu använder så kan vi hjälpa dig med det mesta när du trånar efter det bisarra och magiska
                    eller söker efter mystiska saker <br></h1>
                <div id="aboutText">

                </div>
            </div>
        </div>

        <%- include("../includes/footer.ejs") %>
    </div>
</body>