<%- include("../includes/header.ejs") %>
<%- include("../includes/script.ejs") %>
<%- include("../includes/navbar.ejs"), { user, admin }  %>


<body>

    <div id=content-container>
        <div class="background-container">
            <img id="imgMoon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
            <div class="stars"></div>
            <div class="twinkling"></div>
            <div class="clouds">

            </div>



        </div>
        <div id="content-five">
            <div class="rowtext-center">
                <h1 class="glow">About us. In the foggy swamps in the far south we stir the cauldron of the
                    unknown under the pale and strange moon and so forth in the great mystery of creepy window
                    shopping</h1>
                <div id="aboutText">

                </div>
            </div>
        </div>
        <!-- <div id="content-six">
            <div class="container">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <i class="fa fa-windows"></i>
                            <img id="smallskull" class="NOTimg-body" src="/img/eyeb.jfif" alt="">
                            <h3>Thank you for chosing the dark side. Evil is processing your request.
                            </h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Moon in da roof for you all to glance at from a distance at night time</p>
                            <a href="#">More Horror for the faithful</a>
                        </div>
                    </div>
                </div>
            </div>


        </div> -->
        <div id="content-seven">
            <div>
                <%- include("../includes/footer.ejs") %>
            </div>
        </div>
    </div>
</body>