<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
    <%- include("../includes/navbar.ejs") %>
    <div id=content-container>
        <div id="content-one">
         
            <h1>SKROLLA PÅ EGEN RISK!</h1>
            <!-- <h1>PÅ EGEN</h1>
            <h1>RISK!</h1>  -->
            
        </div>
        <div id="content-two">
            <h2>TAROTLÄSNING</h2>
            <div id='tarot-cards'>
                <img class="card" src="/img/cardback.png" alt="">
                <img class="card" src="/img/cardback.png" alt="">
                <img class="card" src="/img/cardback.png" alt="">
                <img class="card" id="clickable-card" src="/img/cardback.png" alt="">

            </div>

            <div id='tarot-text-container'>
                <h3 id='tarot-header'></h3>
                <p id='tarot-text'></p>
            </div>
        </div>
        <div id="content-three">
            <img id="shrunken-head" src="/img/shrunkenhead.png" alt="">
            <h2>SHRU</br>NKEN</br>HEADS.</h2>
        </div>
        <div id="content-four">

        </div>
    </div>

</body>

</html>