<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/productpage.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/main.js"></script>
    <title>Mystiska saker.se</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <%- include("../includes/navbar.ejs") %>

    <div class="container mt-5">


        <div class="row products-container d-flex justify-content-center">
            <% productsArray.forEach( (product) => { %>
            <div class="product-wrapper col-6 col-md-4 col-lg-3">
                <div class="product-img-wrapper">
                    <img src="<%= product.imageUrl %> " alt="Ouijabräde" />
                </div>
                <div class="product-info">
                    <%= product.name %>
                    <%= product.price %>
                </div>
            </div>
            <% }) %>
        </div>

        <div class="pagination-wrapper d-flex justify-content-center">
            <i class="fas fa-angle-left"></i>
            <a class="page-btn" id="btn1" href="/todo/?page=1">1</a>
            <a class="page-btn" id="btn2" href="/todo/?page=2">2</a>
            <a class="page-btn" id="btn2" href="/todo/?page=3">3</a>
            <i class="fas fa-angle-right"></i>
        </div>
    </div>

</body>

</html>