
    <%- include("../includes/navbar.ejs") %>


<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1>HELLO!!!!!</h1>
        </div>
    </div>
</div>

<%- include("../includes/logout.ejs") %>
