<form action="/reset/:token" method="post">

    <input type="hidden" value="<%=user._id%>" name="userId">

    <input type="password" name="password" id="" placeholder="new password">
    <input type="password" name="" id="" placeholder="repeat password">
    <button type="submit">Save new password</button>

</form>