<script src="/js/jquery-3.4.1.min.js"></script>


<form action="/signin" method="POST">
    <input type="text" placeholder="Användarnamn" name="username">
    <input type="password" placeholder="Lösenord" name="password">
    <button type="submit">Logga in</button>

</form>

<p id="errorMessage"></p>