<%- include("../includes/header.ejs") %>
<%- include("../includes/script.ejs") %>
<%- include("../includes/navbar.ejs") %>

<body>
    <div id="NOTimg-body">

        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <i class="fa fa-windows"></i>
                        <img id="smallskull" class="NOTimg-body" src="/img/deathskulla.jfif" alt="">
                        <h3>Thank you for chosing the dark side. Evil is processing your request.
                        </h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Moon in da roof for you all to glance at from a distance at night time</p>
                        <a href="#">More Horror for the faithful</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-body">
        <div id="back"></div>
        <div id="front"></div>
        <img id="skull" class="NOTimg-body" src="/img/deathskullsc.jfif" alt="">
        <div>
            <h1 class="glow" id="thankYouText"> Thank you for chosing the dark side. Evil is processing your request
            </h1>
        </div>
    </div>
</body>
<%- include("../includes/footer.ejs") %>